# Database
DB_HOST=dbhsot
DB_PORT=3306
DB_USER=youruser
DB_PASS=yourpsswd
DB_NAME=name

# SMTP
SMTP_HOST=smtp.your.host
SMTP_PORT=123
SMTP_SECURE=true
SMTP_TLS=true
SMTP_USER=youruser
SMTP_PASS=yourpass
SMTP_FROM=no-reply@your.host

CORS_ALLOWED_ORIGINS="*"
